<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="template2.CSS">
    <title>Template</title>
</head>

<body>
    <div class="main">
        <nav>
            <div class="logo">Richard.</div>
            <a href="#">Home</a>
            <a href="#">Works</a>
            <a href="#">About</a>
            <a href="#">Projects</a>
            <a href="#">Services</a>
            <div class="btn">Let's chat</div>
        </nav>
        <div class="master">
            <div class="leftdiv">
                <div class="ld">
                    <span class="ui1 top">Hi! I Am </span>
                    <span class="ui top">UI/UX</span>
                </div>
                <div class="h2">
                    <h2>Shivansh Rawat
                    </h2>
                </div>
                <div class="p">
                    <p>Deploying user interfaces for over <b>7 years</b>
                        experienced designer</p>
                </div>
                <div class="hire">
                    <span class="box3">Hire Me</span>
                    <span class="box4">Projects <i class="arrow"></i></span>
                </div>
                <p class="b84">+84</p>
                <p class="Clients">Clients on work<br> worldwide</p>
                <p class="c572">572</p>
                <p class="Done">Project Done</p>
                <p class="Contact">Contact</p>
                <p class="heloo">heloo@richardbrian.com</p>
        
                <div>
                    <footer class="footer">
                        <p class="Project">Project<br>Statistics 2022</p>
                        <div class="Know"><button>Know More</button></div>
                        <div class="pre">
                            <u>
                                <p>Web Designing 75</p>
                                <p>Mobile app Designing 75</p>
                                <p>Brand Identity 75</p>
                                          
                        </div>
                    </footer>
                    
                </div>

            </div>
            <div class="rightdiv">
                <img src="T06DP4AF2MV-U06E3H6401Z-936639de0654-512.png" height="466px" width="370px ">
                <div class="search-container">
                    <input type="text" class="search-bar" placeholder="Search...">
                    <button class="search-button">Search</button>
                </div>
                <div class="img"> <img src="download__11_-removebg-preview.png" height="70px" width="70px"></div>
            </div>
        </div>

    </div>

</body>

</html>